@import "tailwindcss";

/* Prevent text selection/highlighting across the entire app */
* {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
  -webkit-tap-highlight-color: transparent; /* Remove tap highlight on mobile */
}

/* Allow text selection for input fields, textareas, and content that should be selectable */
input,
textarea,
[contenteditable="true"],
.selectable,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="url"],
input[type="number"] {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/* Allow text selection for links and copyable content */
a[href],
.copyable,
.shareable-link,
input[readonly] {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: text;
}